.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.8rem 2rem;
  border: var(--primary-border);
  /* background-color: var(--primary-background-color); */
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 2rem;
  padding: 1rem;
  color: var(--secondary-text-color);
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}

.navigationItem {
  display: flex;
}

@media (width >=786px) {
  .navbar {
    padding: 0.8rem 4rem;
  }
}
